body {
		font-family: 'Chivo', sans-serif;
		width: 100%;
    height: auto;
    font-size: 100%;

}


.container {
		width: 100%;
	
}

.con {

		display: inline-block; /*to have the logo and the the headline text in one line */
		text-align: center;	


}

h1 {
	
		color: saddlebrown;
		height: 5%;
		position: absolute;
		top: 20px;
		bottom: 20px;
}



ul{
	     list-style-type: none;
       margin: 0; /*sets all the margin properties*/
       padding: 0; /*used to generate space around content*/
       overflow: hidden; /*whether to clip content or to add scrollbars */
       background-color: cadetblue;
       position: relative;
       top: 0.5em;
       width: 100%;
	
}
  li {
       float: left; /* this to make the navbar in one line */
       /*border: 1px solid red;*/
     }

      li a {
       display: block;
       font-weight: bold;
       color: beige;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }


     .text {

     	font-size: 5vw;
     	text-align: center;
     }

  

  
     .content{

      
      width: 25%;
      top: 1em;
      position: relative;
      display:inline-block; /*this make the column in one line*/
      text-align: justify-all; /*this make the text justified with the image*/
      color: rosybrown;
      font-weight: bold;
      
      

    }


    .content2{

      margin-left: 40em; /*to move the second column of the blog to the left*/
    }
    

   
	
    img { 
     max-width: 100%;
      }

    hr{
    	 border: 3px solid cadetblue; /*thick line*/
    }

    footer {
	
		text-align: center;
	}

	.contact{
		width: 100%;
		height: 100%;

	}